<script setup lang="ts">
    const { color, size } = defineProps({
        color: {
            type: String,
            required: true
        },
        size: {
            type: String as () => 'sm' | 'md' | 'lg',
            default: 'sm'
        }
    })

    const emits = defineEmits(['on-click'])

    const sizes = {
        sm: 'w-5 h-5',
        md: 'w-6 h-6',
        lg: 'w-8 h-8',
        default: 'w-5 h-5'
    }

    const sizeIcon = computed(() => sizes[size] || size['default'])
</script>

<template>
    <div @click.stop.prevent="emits('on-click')" class="flex items-center text-gray-400 cursor-pointer group">
        <div :class="`p-2 group-hover:bg-${color}-100 group-hover:text-${color}-400 rounded-full dark:group-hover:bg-opacity-20 transition-default`">
            <slot name="icon" :classes="sizeIcon" />
        </div>

        <span :class="`ml-1 group-hover:text-${color}-400`">
            <slot />
        </span>
    </div>

</template>
