<script setup lang="ts">
    import { ChatBubbleOvalLeftEllipsisIcon, ArrowPathIcon, HeartIcon, ArrowUpTrayIcon } from '@heroicons/vue/24/outline/esm'

    const { tweet, compact } = defineProps({
        tweet: {
            type: Object,
            required: true
        },
        compact: {
            type: Boolean,
            default: false
        }
    })

    const emits = defineEmits(['on-comment-click'])

    const showStats = computed(() => compact)

    const generateRandomNumber = () => {
        return Math.floor(Math.random() * 100)
    }

    const size = computed(() => compact ? 'sm' : 'lg')

</script>

<template>
    <div class="flex items-center justify-around w-full">
        <TweetItemActionsIcon color="blue" @on-click="emits('on-comment-click')" :size="size">
            <template #icon="{classes}">
                <ChatBubbleOvalLeftEllipsisIcon :class="classes" />
            </template>
            <span v-if="showStats">
                {{ tweet.repliesCount }}
            </span>
        </TweetItemActionsIcon>

        <TweetItemActionsIcon color="green" :size="size">
            <template #icon="{classes}">
                <ArrowPathIcon :class="classes" />
            </template>
            <span v-if="showStats">
                {{ generateRandomNumber() }}
            </span>
        </TweetItemActionsIcon>

        <TweetItemActionsIcon color="red" :size="size">
            <template #icon="{classes}">
                <HeartIcon :class="classes" />
            </template>
            <span v-if="showStats">
                {{ generateRandomNumber() }}
            </span>
        </TweetItemActionsIcon>

        <TweetItemActionsIcon color="blue" :size="size">
            <template #icon="{classes}">
                <ArrowUpTrayIcon :class="classes" />
            </template>
            <span v-if="showStats">
                {{ generateRandomNumber() }}
            </span>
        </TweetItemActionsIcon>
    </div>
</template>