<script setup lang="ts">
    const { postTweet } = useTweets()

    const loading = ref(false)

    const emits = defineEmits(['on-success'])

    const { replyTo } = defineProps({
        user: {
            type: Object,
            required: true
        },
        placeholder: {
            type: String,
        },
        replyTo: {
            type: Object,
            default: null
        },
        showReply: {
            type: Boolean,
            default: false
        },
    })

    const handleFormSubmit = async (data: any) => {
        loading.value = true
        try {
            const response: any = await postTweet({
                text: data.text,
                mediaFiles: data.mediaFiles,
                replyTo: replyTo?.id
            })

            emits('on-success', response.tweet)
        } catch (error) {
            console.log(error)
        } finally {
            loading.value = false
        }
    }
</script>

<template>
    <div>
        <div v-if="loading" class="flex items-center justify-center py-6">
            <UISpinner />
        </div>
        <div v-else>
            <TweetItem :tweet="replyTo" v-if="replyTo && showReply" hide-actions />
            <TweetFormInput :user="user" @on-submit="handleFormSubmit" :placeholder="placeholder" />
        </div>
    </div>
</template>