<script setup lang="ts">
    import { PhotoIcon, GifIcon, FaceSmileIcon } from '@heroicons/vue/24/outline/esm'

    defineProps({
        user: {
            type: Object,
            required: true
        },
        placeholder: {
            type: String,
            default: '',
        },
    })

    const emits = defineEmits(['on-submit'])

    const text = ref('')
    const imageInput = ref()
    const selectedFile = ref(null)
    const inputImageUrl = ref(null)

    const isDisabled = computed(() => text.value === '')

    const handleFormSubmit = () => {
        emits('on-submit', {
            text: text.value,
            mediaFiles: [selectedFile.value],
        })
    }

    const handleImageClick = () => {
        imageInput.value.click()
    }

    const handleImageChange = (event: any) => {
        selectedFile.value = event.target.files[0]

        const reader = new FileReader()

        reader.onload = (event) => {
            inputImageUrl.value = event.target.result
        }

        reader.readAsDataURL(selectedFile.value)
    }

</script>

<template>
    <div>
        <form @submit.prevent="handleFormSubmit" id="form-tweet" class="flex items-center flex-shrink-0 p-4 pb-0">
            <div class="flex w-12 items-top">
                <img class="inline-block w-10 h-10 rounded-full" :src="user?.profileImage"
                    :alt="user?.handle">
            </div>

            <div class="w-full p-2">
                <textarea
                    class="w-full h-10 text-lg text-gray-900 placeholder:text-gray-400 bg-gray-50 dark:bg-dim-800 border-0 dark:text-white focus:ring-0"
                    v-model="text" :placeholder="placeholder"></textarea>
            </div>
            <input type="file" ref="imageInput" @change="handleImageChange" accept="image/png, image/gif, image/jpeg"
                hidden />
        </form>
        <!-- File Selector -->
        <div v-if="inputImageUrl" class="p-4 pl-16">
            <img class="rounded-2xl border border-twitter" :src="inputImageUrl" alt="">
        </div>

        <div class="flex p-2 pl-14">

            <!-- Icons -->
            <div class="flex w-full text-white">
                <div @click="handleImageClick"
                    class="p-2 text-blue-400 rounded-full hover:bg-blue-50 dark:hover:bg-dim-800 cursor-pointer">
                    <PhotoIcon class="w-5 h-5" />
                </div>
                <div class="p-2 text-blue-400 rounded-full hover:bg-blue-50 dark:hover:bg-dim-800 cursor-pointer">
                    <GifIcon class="w-5 h-5" />
                </div>
                <div class="p-2 text-blue-400 rounded-full hover:bg-blue-50 dark:hover:bg-dim-800 cursor-pointer">
                    <IconChart class="w-5 h-5" />
                </div>
                <div class="p-2 text-blue-400 rounded-full hover:bg-blue-50 dark:hover:bg-dim-800 cursor-pointer">
                    <FaceSmileIcon class="w-5 h-5" />
                </div>
                <div class="p-2 text-blue-400 rounded-full hover:bg-blue-50 dark:hover:bg-dim-800 cursor-pointer">
                    <IconCalendar class="w-5 h-5" />
                </div>
            </div>

            <div class="ml-auto">
                <UIButton form="form-tweet" type="submit" size="sm" :disabled="isDisabled">
                    <span class="font-bold">Tweet</span>
                </UIButton>
            </div>
        </div>
    </div>
</template>
