<script setup lang="ts">
    const props = defineProps({
        title: {
            type: String,
            required: true
        }
    })
</script>
<template>
    <div class="m-2 border border-twitter rounded-xl bg-gray-50 dark:bg-dim-700 overflow-hidden">
        <h1 class="p-3 text-xl font-extrabold border-b">{{ props.title }}</h1>
        <slot />
        <button type="button" class="block w-full p-3 text-sm text-blue-400 focus:outline-none hover:bg-gray-100 dark:hover:bg-dim-300 transition-default">Show more</button>
    </div>
</template>