<script setup lang="ts">

</script>
<template>
    <div class="p-3 hover:bg-gray-100 dark:hover:bg-dim-300 cursor-pointer transition-default border-b border-twitter">
        <slot />
    </div>
</template>