<script setup lang="ts">
    const { compact, tweet } = defineProps({
        tweet: {
            type: Object,
            required: true
        },
        compact: {
            type: Boolean,
            default: false
        },
        hideActions: {
            type: Boolean,
            default: false
        },
    })

    const emitter = useEmitter()

    const tweetBodyWrapper = computed(() => compact ? 'ml-16' : 'ml-2 mt-4')

    const textSize = computed(() => compact ? 'text-base' : 'text-2xl')

    function handleCommentClick() {
        emitter.$emit('replyTweet', tweet)
    }
</script>

<template>
    <div>
        <TweetItemHeader :tweet="tweet" />

        <div :class="tweetBodyWrapper">
            <p 
                class="flex-shrink font-medium"
                :class="textSize"
            >
                {{ tweet.text }}
            </p>

            <div
                v-for="image in tweet.mediaFiles"
                :key="(image as any).id"
                class="flex my-3 mr-2 border-2 border-twitter rounded-2xl"
            >
                <img :src="image.url" alt="" class="w-full rounded-2xl ">
            </div>

            <div class="mt-2" v-if="!hideActions">
                <TweetItemActions :tweet="tweet" :compact="compact" @on-comment-click="handleCommentClick" />
            </div>
        </div>
    </div>
</template>