<script setup lang="ts">
useHead({
  title: 'Nuxt3 Twitter Clone',
  link: [
    {
      rel: 'preconect',
      href: 'https://fonts.googleapis.com'
    },
    {
      rel: 'preconect',
      href: 'https://fonts.gstatic.com',
      crossOrigin: true
    },
    {
      rel: 'stylesheet',
      href: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:wght@400;700&display=swap'
    },
    {
      rel: 'apple-touch-icon',
      sizes: '180x180',
      href: '/icons/apple-touch-icon.png'
    },
    {
      rel: 'icon',
      sizes: '32x32',
      type: 'image/png',
      href: '/icons/favicon-32x32.png'
    },
    {
      rel: 'icon',
      sizes: '16x16',
      type: 'image/png',
      href: '/icons/favicon-16x16.png'
    },
  ],
  bodyAttrs: {
    class: 'bg-white dark:bg-dim-900 text-gray-900 dark:text-white'
  },
})

const { initAuth, useAuthUser } = useAuth()
const { closePostTweetModal, usePostTweetModal, openPostTweetModal, useReplyTweet } = useTweets()
const user = useAuthUser()

const postTweetModal = usePostTweetModal()
const replyTweet = useReplyTweet()
const emitter = useEmitter()

emitter.$on('replyTweet', (tweet: any) => {
    openPostTweetModal(tweet)
})

function handleFormModalSuccess(tweet: any) {
  console.log('success')
    closePostTweetModal()

    navigateTo({
        path: `/status/${tweet.id}`
    })
}

function handleModalClose() {
  closePostTweetModal()
}

onBeforeMount(() => initAuth())

</script>
<template>
  <div>
    <NuxtPage />
    <UIModal :isOpen="postTweetModal" @on-close="handleModalClose">
      <TweetForm
        v-if="user"
        :reply-to="replyTweet"
        show-reply
        placeholder="What's happening?" 
        :user="user"
        @on-success="handleFormModalSuccess"
      />
    </UIModal>
  </div>
</template>
