<template>
    <div>
        <div class="flex items-center justify-center h-screen">
            <div class="absolute">
                <LogoTwitter class="w-20 h-20 animate-ping text-blue-400 dark:text-white" />
            </div>
        </div>
    </div>
</template>