<script setup lang="ts">
    defineProps({
        title: {
            type: String,
            required: true,
        },
        loading: {
            type: Boolean,
            default: false,
        }
    })
</script>
<template>
    <div class="sticky top-0 px-4 py-3 bg-white/80 backdrop-blur-md dark:bg-dim-900/80">
        <h1 class="text-xl font-bold dark:text-gray-200">{{ title }}</h1>
    </div>
    <div v-if="loading" class="flex items-center justify-center p-4 border-b border-twitter">
        <UISpinner class="w-8 h-8 mr-3 -ml-1 text-blue-400 animate-spin" />
    </div>
    <div v-else>
        <slot />
    </div>
</template>