<script setup lang="ts">
import { PropType } from 'vue';

    const props = defineProps({
        disabled: {
            type: Boolean,
            default: false,
        },
        size: {
            type: String as () => 'sm' | 'md' | 'lg',
        },
        liquid: {
            type: Boolean,
            default: false,
        },
    })

    const sizes = {
        sm: 'px-3 py-2',
        md: 'px-3 py-3',
        lg: 'px-4 py-3',
        default: 'px-3 py-3'
    }

    const fontSizes = {
        lg: 'text-md',
        default: 'text-sm'
    }

    const widths = {
        default: 'w-min'
    }

    const paddingClasses = computed(() => sizes[props.size] || sizes['default'])
    const textFontSize = computed(() => fontSizes[props.size] || fontSizes['default'])

    const defaultWidth = computed(() => widths[props.size] || widths['default'])

    const classes = computed(() => `${paddingClasses.value} ${props.liquid ? 'w-full' : defaultWidth.value }`)
</script>

<template>
    <button
        class="flex justify-center text-white bg-blue-400 rounded-full hover:bg-blue-500 font-sm disabled:bg-blue-300 disabled:cursor-not-allowed"
        :class="classes"
        :disabled="props.disabled"
    >
        <span :class="textFontSize">
            <slot />
        </span>
    </button>
</template>