<script setup lang="ts">
const props = defineProps({
    type: {
        type: String as () => 'text' | 'password' | 'email',
        default: 'text'
    },
    modelValue: {
        type: String,
        required: true
    },
    label: {
        type: String,
        default: null
    },
    placeholder: {
        type: String,
        default: ''
    },
})

const emits = defineEmits(['update:modelValue'])

</script>

<template>
    <div>
        <label v-if="props.label" for="" class="block pl-3 ml-px text-sm font-medium text-gray-700">
            {{ props.label }}
        </label>
        <input 
            class="block px-4 w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm dark:text-gray-900" 
            :type="props.type"
            :value="props.modelValue"
            :placeholder="props.placeholder"
            @input="(event: Event) => emits('update:modelValue', (event.target as HTMLInputElement).value)"
        />
    </div>
</template>
