<script setup lang="ts">
    const { tweet } = defineProps({
        tweet: {
            type: Object,
            required: true
        },
        user: {
            type: Object,
            required: true
        },
    })

    const replies = computed(() => tweet?.replies || [])

    function handleFormSuccess(tweet: any) {
        navigateTo({
            path: `/status/${tweet.id}`
        })
    }
</script>

<template>
    <div>
        <TweetItem :tweet="tweet"/>

        <TweetForm 
            placeholder="Tweet your reply" 
            @on-success="handleFormSuccess"
            :user="user" 
            :replyTo="tweet"
        />

        <TweetListFeed :tweets="replies" />
    </div>
</template>