<script setup lang="ts">
    const { tweets } = defineProps({
        tweets: {
            type: Array,
            required: true
        },
    })

    const isEmptyArray = computed(() => tweets.length === 0)

</script>

<template>
    <div>
        <div v-if="isEmptyArray" class="p-4">
            <p class="text-center text-gray-500">
                No tweets &#x1f622;
            </p>
        </div>

        <nuxt-link
            :to="`/status/${(tweet as any).id}`"
            v-else
            v-for="tweet in tweets" 
            :key="(tweet as any).id"
            class="pb-4 border-b border-twitter hover:bg-gray-100 dark:hover:bg-dim-300 cursor-pointer transition-default"
        >
            <TweetItem :tweet="tweet" compact />
        </nuxt-link>
    </div>
</template>