<script setup lang="ts">
    import { MagnifyingGlassIcon, MoonIcon, SunIcon } from '@heroicons/vue/24/outline/esm'
    const whatsHappening = ref([
        {
            title: '#SpaceX',
            count: '18.8k'
        },
        {
            title: '#CodingIsFun',
            count: '8.8k'
        },
        {
            title: '#ArtForAll',
            count: '1.8k'
        },
    ])

    const whoToFollow = ref([
        {
            name: 'Joe Doe',
            handle: '@JoeDoe',
            image: 'https://picsum.photos/200/200'
        },
        {
            name: 'Mary Jane',
            handle: '@MaryJane',
            image: 'https://picsum.photos/200/200'
        },
    ])

    const search = ref('')
    const colorMode = useColorMode()

    const darkMode = computed(() => colorMode.value === 'dark')

    function changeDarkMode() {
        colorMode.value = colorMode.value === 'dark' ? 'light' : 'dark'
    }

    function handleSearch() {

        useRouter().push({
            path: '/search',
            query: {
                q: search.value
            }
        })
    }
</script>
<template>
    <div class="sticky top-0 h-screen flex flex-col">

        <!-- Search bar -->
        <form @submit.prevent="handleSearch" class="relative m-2">
            <div class="absolute flex items-center h-full pl-4 text-gray-600">
                <button class="focus:outline-none bg-transparent">
                    <MagnifyingGlassIcon class="w-6 h-6" />
                </button>
            </div>
            <input 
                class="flex items-center w-full pl-12 text-sm font-normal dark:text-gray-100 bg-gray-200 border border-gray-200 rounded-full shadow dark:bg-dim-400 dark:border-dim-400 focus:bg-gray-100 dark:focus:bg-dim-900 focus:outline-none focus:border focus:border-blue-200 h-9" 
                v-model="search"
                type="text"
                placeholder="Search tweet"
            >
        </form>

        <!-- Preview Card: What's Happening -->
        <sidebar-right-preview-card title="What's Happening">
            <sidebar-right-preview-card-item v-for="item in whatsHappening" :key="item.title">
                    <h2 class="font-bold text-gray-800 text-md">{{ item.title }}</h2>
                    <p class="text-xs text-gray-400">{{ item.count }} Tweets</p>
            </sidebar-right-preview-card-item>
        </sidebar-right-preview-card>

        <!-- Preview Card: Who to follow -->
        <sidebar-right-preview-card title="Who to follow">
            <sidebar-right-preview-card-item v-for="item in whoToFollow" :key="item.handle">
                <div class="flex flex-row justify-between items-center p-2">
                    <div class="flex flex-row">
                        <img class="w-10 h-10 rounded-full" :src="item.image" :alt="item.name">
                        <div class="flex flex-col ml-2">
                            <h3 class="text-sm font-bold">{{ item.name }}</h3>
                            <p class="text-xs text-gray-400">{{ item.handle }}</p>
                        </div>
                    </div>
                    <button class="block px-4 py-2 font-bold text-xs text-white dark:text-black bg-black dark:bg-white rounded-full focus:outline-none">Follow</button>
                </div>
            </sidebar-right-preview-card-item>
        </sidebar-right-preview-card>

        <footer>
            <ul class="mx-2 my-4 text-xs text-gray-500 flex items-center flex-wrap space-x-2">
                <li class="inline-block">
                    <button 
                        type="button" 
                        class="p-2 cursor-pointer inline border-0 p-0 focus:outline-none" 
                        @click="changeDarkMode"
                    >
                        <SunIcon class="w-5 h-5" v-if="darkMode" />
                        <MoonIcon class="w-5 h-5" v-else />
                    </button>
                </li>
                <li class="inline-block">
                    <a href="#" class="hover:underline">Privacy Policy</a>
                </li>
                <li class="inline-block">
                    <a href="#" class="hover:underline">Cookie Policy</a>
                </li>
                <li class="inline-block">
                    <a href="#" class="hover:underline">Accesability</a>
                </li>
                <li class="inline-block">
                    <a href="#" class="hover:underline">Ads Info</a>
                </li>
                <li class="inline-block">
                    <a href="#" class="hover:underline">More</a>
                </li>
                <li class="inline-block">
                    &copy; 2022 Twitter, Inc.
                </li>
            </ul>
        </footer>
    </div>
</template>