<script setup lang="ts">
const { openPostTweetModal } = useTweets()
const { useAuthUser, logout } = useAuth()
const user = useAuthUser()

function handleOpenTweetModal() {
    openPostTweetModal(null)
}

function handleUserLogout() {
    logout()
    navigateTo('/login')
}

</script>

<template>
    <div class="min-h-full">
        <div class="grid grid-cols-12 mx-auto sm:px-6 lg:px-8 lg:gap-5 lg:max-w-7xl">
            
            <!-- Left Sidebar -->
            <aside class="hidden md:block col-span-1 xl:col-span-2">
                <SidebarLeft 
                    @on-tweet="handleOpenTweetModal"
                    @on-logout="handleUserLogout"
                    :user="user"
                />
            </aside>
            <!-- Main Content -->
            <main class="col-span-12 md:col-span-8 xl:col-span-6 border-x border-twitter">
                <slot />
            </main>
            <!-- Right Sidebar -->
            <aside class="hidden md:block md:col-span-3 xl:col-span-4">
                <SidebarRight />
            </aside>

        </div>
    </div>
</template>
