<script setup lang="ts">
</script>

<template>
    <div class="min-h-full">
        <!-- Main Content -->
        <main class="col-span-12 md:col-span-8 xl:col-span-6 border-x border-twitter">
            <slot />
        </main>
    </div>
</template>