<script setup lang="ts">
definePageMeta({
    middleware: ['auth'],
})

useHead({
    title: 'Home / Twitter',
})

const { useAuthUser, useAuthLoading } = useAuth()
const { getTweets } = useTweets()
const isLoading = useAuthLoading()
const user = useAuthUser()
const homeTweets = ref([])
const loading = ref(false)

onBeforeMount(async () => {
    loading.value = true
    try {
        const { tweets } = await getTweets() as any
        homeTweets.value = tweets
    } catch (error) {
        console.log(error)
    } finally {
        loading.value = false
    }
})

function handleFormSuccess(tweet: any) {
    navigateTo({
        path: `/status/${tweet.id}`
    })
}

</script>

<template>
    <div>
        <Loading v-if="isLoading" />
        <nuxt-layout v-else>
            <main-section title="Home" :loading="loading">
                <div class="border-b border-twitter">
                    <TweetForm 
                        v-if="user"
                        @on-success="handleFormSuccess" 
                        :user="user" 
                        placeholder="What's happening?" 
                    />
                </div>

                <TweetListFeed :tweets="homeTweets" />
            </main-section>
        </nuxt-layout>
    </div>
</template>