<script setup lang="ts">
definePageMeta({
    middleware: ['auth'],
})

useHead({
    title: 'Search',
})

const { useAuthLoading } = useAuth()
const { getTweets: getTweetsComposable } = useTweets()
const isLoading = useAuthLoading()
const searchTweets = ref([])
const loading = ref(false)

watch(() => useRoute().fullPath, () => getTweets())

onBeforeMount(() => {
    getTweets()
})

async function getTweets() {
    const searchQuery = useRoute().query.q
    loading.value = true
    try {
        const { tweets } = await getTweetsComposable({
            query: searchQuery,
        }) as any
        searchTweets.value = tweets
    } catch (error) {
        console.log(error)
    } finally {
        loading.value = false
    }
}

</script>

<template>
    <div>
        <Loading v-if="isLoading" />
        <nuxt-layout v-else>
            <main-section title="Search" :loading="loading">
                <TweetListFeed :tweets="searchTweets" />
            </main-section>
        </nuxt-layout>
    </div>
</template>