<script setup lang="ts">
    const { login } = useAuth()

    const data = reactive({
        username: '',
        password: '',
        loading: false,
    })

    const handleLogin = async () => {
        data.loading = true
        try {
            await login({
                username: data.username,
                password: data.password
            })
            navigateTo('/')
        } catch (error) {
            console.log(error)
        } finally {
            data.loading = false
        }
    }

    const isButtonDisabled = computed(() => {
        return (!data.username || !data.password) || data.loading
    })
</script>

<template>
    <div class="w-full">
        <div class="flex justify-center">
            <LogoTwitter class="w-10 h-10 text-blue-400 dark:text-white" />
        </div>
        <form class="pt-5 space-y-6" @submit.prevent="handleLogin">
            <UIInput v-model="data.username" label="Username" placeholder="@username" />
            <UIInput v-model="data.password" label="Password" placeholder="your password" type="password" />

            <UIButton type="submit" liquid :disabled="isButtonDisabled">
                Login
            </UIButton>
        </form>
    </div>
</template>