<script setup lang="ts">
    const loading = ref(false)
    const tweet = ref(null)
    const { getTweetById } = useTweets()
    const { useAuthUser } = useAuth()

    const user = useAuthUser()

    definePageMeta({
        middleware: ['auth'],
    })

    useHead({
        title: 'Home / Twitter',
    })

    function getTweetIdFromRoute(): string {
        return useRoute().params.id as string
    }

    async function getTweet() {
        loading.value = true
        try {
            const response: any = await getTweetById(getTweetIdFromRoute())
            tweet.value = response.tweet
        } catch (error) {
            console.log(error)
        } finally {
            loading.value = false
        }
    }

    watch(() => useRoute().fullPath, () => getTweet())

    onBeforeMount(() => getTweet())
</script>

<template>
    <div>
        <nuxt-layout>
            <main-section title="Tweet" :loading="loading">
                <TweetDetails v-if="tweet" :tweet="tweet" :user="user" />
            </main-section>
        </nuxt-layout>
    </div>
</template>