<script setup lang="ts">
    import { HomeIcon } from '@heroicons/vue/24/solid/esm'
    import { 
        HashtagIcon, BellIcon, InboxIcon, BookmarkIcon, DocumentTextIcon, UserIcon, EllipsisHorizontalCircleIcon, PencilIcon, ChevronDownIcon
    } from '@heroicons/vue/24/outline/esm'

    const emits = defineEmits(['on-tweet', 'on-logout'])

    defineProps({
        user: {
            type: Object,
            required: true
        }
    })
</script>
<template>
    <div class="sticky top-0 h-screen flex flex-col">
        <div class="p-2 my-2 rounded-full w-min hover:bg-blue-50 dark:hover:bg-white/20 transition-default">
            <nuxt-link to="/">
                <LogoTwitter class="w-8 h-8 text-blue-400 dark:text-white" />
            </nuxt-link>
        </div>

        <div class="mt-2 space-y-3">
            <SidebarLeftTab active>
                <template #icon>
                    <HomeIcon />
                </template>
                <template #label>
                    Home
                </template>
            </SidebarLeftTab>
            <SidebarLeftTab>
                <template #icon>
                    <HashtagIcon />
                </template>
                <template #label>
                    Explore
                </template>
            </SidebarLeftTab>
            <SidebarLeftTab>
                <template #icon>
                    <BellIcon />
                </template>
                <template #label>
                    Notifications
                </template>
            </SidebarLeftTab>
            <SidebarLeftTab>
                <template #icon>
                    <InboxIcon />
                </template>
                <template #label>
                    Bookmarks
                </template>
            </SidebarLeftTab>
            <SidebarLeftTab>
                <template #icon>
                    <BookmarkIcon />
                </template>
                <template #label>
                    Messages
                </template>
            </SidebarLeftTab>
            <SidebarLeftTab>
                <template #icon>
                    <DocumentTextIcon />
                </template>
                <template #label>
                    Lists
                </template>
            </SidebarLeftTab>
            <SidebarLeftTab>
                <template #icon>
                    <UserIcon />
                </template>
                <template #label>
                    UserProfile
                </template>
            </SidebarLeftTab>
            <SidebarLeftTab>
                <template #icon>
                    <EllipsisHorizontalCircleIcon />
                </template>
                <template #label>
                    More
                </template>
            </SidebarLeftTab>
            <div class="hidden xl:block">
                <UIButton size="lg" liquid @click="emits('on-tweet')">
                    <span class="font-bold">
                        Tweet
                    </span>
                </UIButton>
            </div>
            <div class="xl:hidden">
                <UIButton @click="emits('on-tweet')">
                    <PencilIcon class="w-6 h-6 font-bold" />
                </UIButton>
            </div>
        </div>

        <div 
            @click="emits('on-logout')"
            class="flex items-center justify-center px-2 py-2 mx-auto mt-auto mb-5 rounded-full cursor-pointer w-14 xl:w-full hover:bg-gray-100 dark:hover:bg-dim-800 transition-default"
        >
            <div class="flex">
                <img :src="user.profileImage" class="w-10 h-10 rounded-full" alt="" />
                <div class="flex flex-col hidden xl:block ml-2">
                    <h3 class="text-sm font-bold text-gray-800 dark:text-white">{{ user.name }}</h3>
                    <p class="text-sm text-gray-400">
                        {{ user.handle }}
                    </p>
                </div>
            </div>

            <!-- Icon -->
            <div class="hidden xl:block ml-auto">
                <ChevronDownIcon class="w-6 h-6" />
            </div>
        </div>
    </div>
</template>