<script setup lang="ts">
    const props = defineProps({
        active: {
            type: Boolean,
            default: false,
        },
    })

</script>
<template>
    <nuxt-link to="#" class="flex items-center p-3 rounded-full w-min hover:bg-gray-200 dark:hover:bg-dim-200 transition-default space-x-4">
        <div class="w-6 h-6 text-dark">
            <slot name="icon" />
        </div>
        <div class="hidden xl:block text-xl" :class="{'font-semibold': active}">
            <slot name="label" />
        </div>
    </nuxt-link>
</template>